

body{
background-color: azure;
}

h1{
font-size: 70px;
font-style: normal;
border-style: solid;
background-color: azure;
}

p{
    font-size: 30px;
    font-style: normal;  
    border-style: solid;
}

b{
    font-size: 35px;
    font-style: normal;  
}
header{
    font-size: 100px;
    font-style: normal;
}

a{
    font-size: 25px;
    font-style: normal;
    color: white;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

table, td, th {
border: 1px linear-gradient(#ff4e50,#f9d423);;
padding: 300px
}

#table{
border-collapse: collapse;
width: 100%;
height:100%;
}

#title{
padding: 100px;
}

#Head{
    background-color: black;
    color: azure;
    text-align: center;
    padding: 2.5%;
}

#Green{
    background-color: azure;
    width:100%;
    padding: 1%;
}

#Blue{
    font-size: 80px;
    font-style: unset;
    border-style: hidden;
}

#hello{
    float: center;
}

#noice{
    background-color: black;
    color: azure;
}

#Orange{
    background-color: aqua
}